node_modules/
bower_components/
*.log

build/
dist/

bundles

dump.rdb

.vscode/
glide.lock
vendor/
devNotes/
bundles/

pubnubConfig.js
.DS_Store
server/config.go
server/certFile.pem
server/keyFile.pem