.root-div, .route-div {
  height: 100%;
}

/* --- Landing --- */

.landing-container {
  height: 100%;
  width: 100%;
}

.landing-header {
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
}

.header-nav {
  width: 25%;
  min-width: 180px;;
}

.header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.landing-body {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #6288c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top right, #1e3c72, #325BC5, #5177CA, #6288C8); 
  background: linear-gradient(to top right, #1e3c72, #325BC5, #5177CA, #6288C8); 
  background-color: #1e3c72;
  /*-webkit-filter: blur(1px);
  filter: blur(1px);*/
}

.landing-qotd {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
}

.landing-footer {
  height: 15%
}

.landing-description {
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* ------ navLoggedIn ------- */

.general-header {
  display: flex;
  justify-content: space-around;
  height: 10%;
  align-items: center;
  background: white;
}

.general-header-nav {
  width: 40%;
  min-width: 350px;
  display: flex;
  align-items: center;
}

.general-header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ------ Stats: Account  ------- */

.account-btn-section {
  display: flex;
  min-width: 350px;
  width: 50%;
  justify-content: center;
  margin-bottom: 10px;
}

button.account-btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .75);
  padding: 2px 0px 2px 0px;
  border-radius: 3px;
  color: rgba(255, 255, 255, .75);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 140px;
  letter-spacing: 1.5px;
}

button.account-btn.delete {
  background-color: rgba(255, 255, 255, .75);
  color:#e13536;
  font-style: bold;
  margin-right: 4px;
}

button.account-btn.delete:hover {
  border: 2px solid rgba(255, 255, 255, .75);
  background-color: #EF5152;
  color: white;
  cursor: pointer;
}

button.account-btn.edit {
  margin-left: 4px;
}

button.account-btn.edit:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .75);
  color: cornflowerblue;
}

.account-container {
  height: 100%;
  width: 100%;
}

.review-field-name {
  padding-right: 10px;
}

#deleteAccount {
  background: white;
  color: red;
}

#editAccount {
  background: white;
}

/* ------ Stats: Map Data ------- */

.dataPageContainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: ghostwhite;
  border-radius: 5px;
  min-width: 750px;
}

.selectedDataTopic {
  height: 50px;
  align-self: center;
  margin: 16px 0px 0px 5px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

#doughnut {
  align-self: center;
  height: 35%;
  width: 35%;
}

.states:hover {
  fill: #CFD6FC !important;
}

#hoverinfo {
  position: absolute;
  font-size: 18px;
  text-shadow: 2px 2px 2px grey;
  color: black;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 8px;
  padding: 5px;
}

.hide {
  visibility: hidden;
}

.qotdList {
  color: black;
  font-size: 16px;
  margin-left: 10px;
}

.qotdDataButton, .qotdList {
  background-color: #747BA0;
  transition: all .2s ease-in;
  color: white;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  box-shadow: 2px 2px 2px #535873;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.qotdDataButton:hover, .qotdList:hover {
  background-color: #959ECE;
  cursor: pointer;
  color: white;
}

.clearFilterButton {
  width: 100px;
  height: 40px;
  margin-left: 10px;
}

.no-mouse {
  cursor: none;
}

/* -------------------- */

.persective {
  perspective: 15000px;
}

.shift {
  transition: transform 1s ease;
}

.shift:hover {
  transform: rotateY(-20deg);
}
/* --- Login --- */

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.ant-row.ant-form-item {
  width: 250px;
}

button.ant-btn.ant-btn-primary.ant-btn-lg.login-form-button {
  width: 250px;
}

.login-form-reroute {
  margin: 10px 0 0 0;
}

.login-icon {
  margin: 0 0 10px 0;
}

.login-error {
  color: #ef5152;
}

/* --- Signup --- */

.signup-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.ant-row.ant-form-item {
  width: 250px;
}

button.ant-btn.ant-btn-primary.ant-btn-lg.signup-form-button {
  width: 250px;
}

.signup-form-reroute {
  margin: 10px 0 0 0;
}

.signup-icon {
  margin: 0 0 10px 0;
}

.signup-error {
  color: #ef5152;
}

.signup-success {
  color: #6288c5;
}

/* ----- Video ----- */

.video-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #6288c5; 
  /*background: -webkit-linear-gradient(to right, #1e3c72, #6288c5); 
  background: linear-gradient(to right, #1e3c72, #6288c5); */
}

.video-header {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: white;
  display: flex;
}

#qtod {
  margin: 0px 0px 0px 15px;
  font-size: 30px;
  line-height: 1.8;
}

.info {
  color: #0eab0c;
  padding: 0px 15px 0px 15px;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
}

.logout-button {
  align-self: flex-start;
}

.video-container {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  min-width: 525px;
  min-height: 160px;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eee;
  background-color: white;
  padding: 15px 0;
}

.video-container-two {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  min-width: 525px;
  min-height: 160px;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eee;
  background-color: white;
  padding: 15px 0;
}

div#remote-media {
  height: 90%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

div#remote-media video {
  border: 1px solid #272726;
  margin: 3em 2em;
  height: 90%;
  max-width: 80% !important;
  background-color: #272726;
  background-repeat: no-repeat;
}

.video-component {
  height: 10%;
  /*flex-direction: column-reverse;
  justify-content: flex-start;*/
}

.leave-room-button {
  margin: 0 4px 0 0;
}

.kinnect-button {
  margin: 0 0 0 4px;
}

.qotd-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.question-of-the-day {
  width: 100%;
  height: 33%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qotd-form {
  width: 100%;
  height: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qotd-options {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.1);
  padding: 0 0 10px 0;
}

input.qotd-submit-button {
  width: 100%;
  height: 50%;
  background-color: transparent;
  border: 1px solid white;
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0 0 0;
}

input.qotd-submit-button:hover {
  transition: all 0.3s ease-in-out;
  color: orangered;
  font-weight: bold;
}

.searching-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---- Survey ----- */


.survey-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #6288c5; 
  /*background: -webkit-linear-gradient(to top right, #1e3c72, #325BC5, #5177CA, #6288C8); 
  background: linear-gradient(to top right, #1e3c72, #325BC5, #5177CA, #6288C8); */
}

.steps-section {
  padding: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.survey-card {
  min-width: 500px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
}

.survey-section {
  min-width: 70%;
  max-height: 70%;
  border-radius: 5px;
  width: 50%;
  margin: 0 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #eee;
  background-color: white;
}

.steps-content {
  width: 100%;
  /*height: 60%;*/
  max-height: 450px;
  border-radius: 5px;
  border-color: slategrey;
  overflow: scroll;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

 
.input-bar {
  width: 80%;
}

input#zip-input {
  width: 80%;
}

.welcome-message {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.review-input {
  padding: 20px 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button.survey-btn.ant-btn{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .75);
  color: rgba(255, 255, 255, .75);
  font-family: 'Open Sans', sans-serif;
  width: 80px;
}

button.survey-btn.ant-btn:hover{
  transition: all 0.3 ease-in-out;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
}

.steps-action {
  background-color: transparent;
  color: white;
  height: 10%;
}

.survey-input {
  padding: 20px 0;
  /*padding: 5px;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: all 0.3 ease-out;
}

div.survey-input:hover {
  transition: all 0.3s ease-in;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


input.ant-input.input-bar {
  font-size: 11px;
}

input.input-bar.input-select,
.ant-select-selection__placeholder {
  font-size: 11px;
}


.survey-input-header {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-input-entry {
  width: 70%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.review-input-container {
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
}

.review-input-header {
  color: #F3A183; 
  /*orangered;*/
  font-style: bold;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-input-result {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.review-input {
  margin: 0 0 10px 0;
}*/



/* ---- chat room ----- */
.chat-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-component{ 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6288c5; 
  flex-direction: column;
  /*background: -webkit-linear-gradient(to right, #1e3c72, #6288c5); 
  background: linear-gradient(to right, #1e3c72, #6288c5); */
}

.chat-header {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: white;
}

.chat-container {
  min-width: 450px;
  min-height: 300px;
  max-width: 650px;
  width: 70%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kin-list {
  width: 30%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #eee;
  background: white;
  overflow-y: scroll;
}

.noKinMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orangered;
}

.noKinMsg div {
  padding: 20px 10px 0px 10px;
}

.kin-list-item {
  padding: 20px 10px; ;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  transition: all 0.3 ease-out;
}

div.kin-list-item:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.kin-current-chat {
  padding: 5px;
  width: 69%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #eee;
  background: white;
}

.chat-box-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#chat-box-message-scroll {
  height: 80%;
  max-height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 0 0 10px;
}

.chat-box-item {
  padding: 5px 0;
}

.chat-name {
  font-weight: bold; 
}

.chat-name-click {
  color: orangered;
  font-weight: bold;
}
/*
.chat-box-input {

}*/

/*.kin-list-item {

}*/
