.landing-header {
  display: flex;
  justify-content: space-around;
}

.header-nav {
  width: 150px;
  display: flex;
  align-items: center;
}

.header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}