.root-div, .route-div {
  height: 100%;
}

/* --- Landing --- */

.landing-container {
  height: 100%;
  width: 100%;
}

.landing-header {
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
}

.header-nav {
  width: 150px;
  display: flex;
  align-items: center;
}

.header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.landing-body {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #6288c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1e3c72, #6288c5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e3c72, #6288c5); 
}

.landing-qotd {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
}

.landing-footer {
  height: 15%
}

.landing-description {
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* ------ navLoggedIn ------- */

.general-header {
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
  border-width: 0px 0px 15px 0px;
  border-color: #6288c5; /* fallback for old browsers */
  border-color: -webkit-linear-gradient(to right, #1e3c72, #6288c5); /* Chrome 10-25, Safari 5.1-6 */
  border-color: linear-gradient(to right, #1e3c72, #6288c5); 

}

.general-header-nav {
  width: 40%;
  display: flex;
  align-items: center;
}

.general-header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ------ Stats: Map Data ------- */

.mapdata-header {
  height: 50px;
}

/*TODO: Find a way to do this without !important*/
.states:hover {
  fill: darkslateblue !important;
}

#hoverinfo {
  position: absolute;
  background-color: white;
  padding: 5px;
  height: 50px;
  width: 50px;
  border: 2px solid darkslateblue;
}

.hide {
  visibility: hidden;
}

.persective {
  perspective: 15000px;
}

.shift {
  transition: transform 1s ease;
}

.shift:hover {
  transform: rotateY(-20deg);
}
/* --- Login --- */

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.ant-row.ant-form-item {
  width: 250px;
}

button.ant-btn.ant-btn-primary.ant-btn-lg.login-form-button {
  width: 250px;
}

.login-form-reroute {
  margin: 10px 0 0 0;
}

.login-icon {
  margin: 0 0 10px 0;
}

.login-error {
  color: #ef5152;
}

/* --- Signup --- */

.signup-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.ant-row.ant-form-item {
  width: 250px;
}

button.ant-btn.ant-btn-primary.ant-btn-lg.signup-form-button {
  width: 250px;
}

.signup-form-reroute {
  margin: 10px 0 0 0;
}

.signup-icon {
  margin: 0 0 10px 0;
}

.signup-error {
  color: #ef5152;
}

.signup-success {
  color: #6288c5;
}

/* ----- Video ----- */

div#remote-media {
  height: 43%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

div#remote-media video {
  border: 1px solid #272726;
  margin: 3em 2em;
  height: 100%;
  max-width: 60% !important;
  background-color: #272726;
  background-repeat: no-repeat;
}

.video-container {
  width: 500px;
  height: 500px;
}

/* ---- Survey ----- */

.survey-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #6288c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1e3c72, #6288c5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e3c72, #6288c5); 
}


.steps-content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-color: slategrey;
  overflow: scroll;
}

.input-bar {
  width: 80%;
}

.survey-card {
  height: 450px;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.survey-section {
  border-radius: 5px;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #eee;
  background-color: white;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button.survey-btn.ant-btn{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .75);
  color: rgba(255, 255, 255, .75);
  font-family: 'Open Sans', sans-serif;
}

button.survey-btn.ant-btn:hover{
  transition: all 0.3 ease-in-out;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
}

.steps-action {
  background-color: transparent;
  color: white;
  height: 10%;
}

.steps-section {
  padding: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-style: bold;
  font-size: 18px;
  color: white;
}

.survey-input {
  padding: 20px 0;
  /*padding: 5px;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  transition: all 0.3 ease-out;
}

div.survey-input:hover {
  transition: all 0.3s ease-in;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


input.ant-input.input-bar {
  font-size: 11px;
}

input.input-bar.input-select,
.ant-select-selection__placeholder {
  font-size: 11px;
}


.survey-input-header {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-input-entry {
  width: 70%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.review-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}
.review-input {
  padding: 20px 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  justify-content: space-around;
}

.review-input-header {
  color: #6288c5;
  font-style: bold;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-input-result {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-input {
  margin: 10px 0;
}

.welcome-message {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

/* ---- Tool Tip ---- */

.tippy-touch{cursor:pointer!important}.tippy-popper{visibility:hidden;max-width:400px;-webkit-perspective:800px;perspective:800px;z-index:9999}.tippy-popper.html-template{max-width:95%;max-width:calc(100% - 2rem)}.tippy-popper[x-placement=top] [x-arrow]{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);bottom:-5px}.tippy-popper[x-placement=top] [x-circle]{-webkit-transform-origin:0 50%;transform-origin:0 50%}.tippy-popper[x-placement=top] [x-circle].enter{opacity:1;-webkit-transform:scale(1) translate(-50%,-47.5%);transform:scale(1) translate(-50%,-47.5%)}.tippy-popper[x-placement=top] [x-circle].leave{opacity:0;-webkit-transform:scale(0) translate(-50%,-50%);transform:scale(0) translate(-50%,-50%)}.tippy-popper[x-placement=top] [data-animation=none].enter,.tippy-popper[x-placement=top] [data-animation=none].leave{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement=top] [data-animation=perspective]{-webkit-transform-origin:bottom;transform-origin:bottom}.tippy-popper[x-placement=top] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateY(-10px) rotateX(0);transform:translateY(-10px) rotateX(0)}.tippy-popper[x-placement=top] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateY(0) rotateX(90deg);transform:translateY(0) rotateX(90deg)}.tippy-popper[x-placement=top] [data-animation=fade].enter{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement=top] [data-animation=fade].leave{opacity:0;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement=top] [data-animation=shift].enter{opacity:1;-webkit-transform:translateY(-10px);transform:translateY(-10px)}.tippy-popper[x-placement=top] [data-animation=shift].leave{opacity:0;-webkit-transform:translateY(0);transform:translateY(0)}.tippy-popper[x-placement=top] [data-animation=scale].enter{opacity:1;-webkit-transform:translateY(-10px) scale(1);transform:translateY(-10px) scale(1)}.tippy-popper[x-placement=top] [data-animation=scale].leave{opacity:0;-webkit-transform:translateY(0) scale(0);transform:translateY(0) scale(0)}.tippy-popper[x-placement=bottom] [x-arrow]{-webkit-transform:rotate(135deg);transform:rotate(135deg);top:-5px}.tippy-popper[x-placement=bottom] [x-circle]{-webkit-transform-origin:0 -50%;transform-origin:0 -50%}.tippy-popper[x-placement=bottom] [x-circle].enter{opacity:1;-webkit-transform:scale(1) translate(-50%,-47.5%);transform:scale(1) translate(-50%,-47.5%)}.tippy-popper[x-placement=bottom] [x-circle].leave{opacity:0;-webkit-transform:scale(0) translate(-50%,-50%);transform:scale(0) translate(-50%,-50%)}.tippy-popper[x-placement=bottom] [data-animation=none].enter,.tippy-popper[x-placement=bottom] [data-animation=none].leave{opacity:1;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement=bottom] [data-animation=perspective]{-webkit-transform-origin:top;transform-origin:top}.tippy-popper[x-placement=bottom] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateY(10px) rotateX(0);transform:translateY(10px) rotateX(0)}.tippy-popper[x-placement=bottom] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateY(0) rotateX(-90deg);transform:translateY(0) rotateX(-90deg)}.tippy-popper[x-placement=bottom] [data-animation=fade].enter{opacity:1;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement=bottom] [data-animation=fade].leave{opacity:0;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement=bottom] [data-animation=shift].enter{opacity:1;-webkit-transform:translateY(10px);transform:translateY(10px)}.tippy-popper[x-placement=bottom] [data-animation=shift].leave{opacity:0;-webkit-transform:translateY(0);transform:translateY(0)}.tippy-popper[x-placement=bottom] [data-animation=scale].enter{opacity:1;-webkit-transform:translateY(10px) scale(1);transform:translateY(10px) scale(1)}.tippy-popper[x-placement=bottom] [data-animation=scale].leave{opacity:0;-webkit-transform:translateY(0) scale(0);transform:translateY(0) scale(0)}.tippy-popper[x-placement=left] [x-arrow]{-webkit-transform:rotate(225deg);transform:rotate(225deg);right:-5px;top:50%}.tippy-popper[x-placement=left] [x-circle]{-webkit-transform-origin:50% 0;transform-origin:50% 0}.tippy-popper[x-placement=left] [x-circle].enter{opacity:1;-webkit-transform:scale(1) translate(-50%,-47.5%);transform:scale(1) translate(-50%,-47.5%)}.tippy-popper[x-placement=left] [x-circle].leave{opacity:0;-webkit-transform:scale(0) translate(-50%,-33%);transform:scale(0) translate(-50%,-33%)}.tippy-popper[x-placement=left] [data-animation=none].enter,.tippy-popper[x-placement=left] [data-animation=none].leave{opacity:1;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement=left] [data-animation=perspective]{-webkit-transform-origin:right;transform-origin:right}.tippy-popper[x-placement=left] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateX(-10px) rotateY(0);transform:translateX(-10px) rotateY(0)}.tippy-popper[x-placement=left] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateX(0) rotateY(-90deg);transform:translateX(0) rotateY(-90deg)}.tippy-popper[x-placement=left] [data-animation=fade].enter{opacity:1;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement=left] [data-animation=fade].leave{opacity:0;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement=left] [data-animation=shift].enter{opacity:1;-webkit-transform:translateX(-10px);transform:translateX(-10px)}.tippy-popper[x-placement=left] [data-animation=shift].leave{opacity:0;-webkit-transform:translateX(0);transform:translateX(0)}.tippy-popper[x-placement=left] [data-animation=scale].enter{opacity:1;-webkit-transform:translateX(-10px) scale(1);transform:translateX(-10px) scale(1)}.tippy-popper[x-placement=left] [data-animation=scale].leave{opacity:0;-webkit-transform:translateX(0) scale(0);transform:translateX(0) scale(0)}.tippy-popper[x-placement=right] [x-arrow]{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:-5px;top:50%}.tippy-popper[x-placement=right] [x-circle]{-webkit-transform-origin:-50% 0;transform-origin:-50% 0}.tippy-popper[x-placement=right] [x-circle].enter{opacity:1;-webkit-transform:scale(1) translate(-50%,-47.5%);transform:scale(1) translate(-50%,-47.5%)}.tippy-popper[x-placement=right] [x-circle].leave{opacity:0;-webkit-transform:scale(0) translate(-50%,-33%);transform:scale(0) translate(-50%,-33%)}.tippy-popper[x-placement=right] [data-animation=none].enter,.tippy-popper[x-placement=right] [data-animation=none].leave{opacity:1;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement=right] [data-animation=perspective]{-webkit-transform-origin:left;transform-origin:left}.tippy-popper[x-placement=right] [data-animation=perspective].enter{opacity:1;-webkit-transform:translateX(10px) rotateY(0);transform:translateX(10px) rotateY(0)}.tippy-popper[x-placement=right] [data-animation=perspective].leave{opacity:0;-webkit-transform:translateX(0) rotateY(90deg);transform:translateX(0) rotateY(90deg)}.tippy-popper[x-placement=right] [data-animation=fade].enter{opacity:1;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement=right] [data-animation=fade].leave{opacity:0;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement=right] [data-animation=shift].enter{opacity:1;-webkit-transform:translateX(10px);transform:translateX(10px)}.tippy-popper[x-placement=right] [data-animation=shift].leave{opacity:0;-webkit-transform:translateX(0);transform:translateX(0)}.tippy-popper[x-placement=right] [data-animation=scale].enter{opacity:1;-webkit-transform:translateX(10px) scale(1);transform:translateX(10px) scale(1)}.tippy-popper[x-placement=right] [data-animation=scale].leave{opacity:0;-webkit-transform:translateX(0) scale(0);transform:translateX(0) scale(0)}.tippy-tooltip{position:relative;color:#fff;border-radius:4px;padding:.5rem 1rem;text-align:center;will-change:transform;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background-color:#333}.tippy-tooltip [x-arrow]{z-index:-1;position:absolute;width:10px;height:10px;background-color:#333;border:1px solid;border-color:transparent transparent #333 #333}.tippy-tooltip[data-animatefill]{overflow:hidden;background-color:transparent}.tippy-tooltip[data-inertia]{-webkit-transition-timing-function:cubic-bezier(.53,1,.36,.85);transition-timing-function:cubic-bezier(.53,2,.36,.85)}.tippy-tooltip [x-circle]{position:absolute;will-change:transform;background-color:#333;border-radius:50%;width:120%;width:calc(100% + 2rem);left:50%;-webkit-transition:all ease-out;transition:all ease-out;z-index:-1;opacity:0;overflow:hidden}.tippy-tooltip [x-circle]:before{content:"";padding-top:110%;padding-top:calc(90% + 2rem);float:left}.tippy-tooltip.light-theme{color:#203d5d;box-shadow:0 0 16px -4px rgba(0,20,40,.2),0 0 80px -10px rgba(0,20,40,.3);background-color:#f3f6f9;border:1px solid #ced2e2}.tippy-tooltip.light-theme [x-circle]{background-color:#f3f6f9}.tippy-tooltip.light-theme [x-arrow]{background-color:#f3f6f9;border-color:transparent transparent #ced2e2 #ced2e2}.tippy-tooltip.light-theme[data-animatefill]{background-color:transparent}.tippy-iOS-fix.tippy-popper[x-placement=bottom] [x-circle].leave,.tippy-iOS-fix.tippy-popper[x-placement=top] [x-circle].leave{-webkit-transform:scale(0) translate3d(-50%,-50%,0);transform:scale(0) translate3d(-50%,-50%,0)}.tippy-iOS-fix.tippy-popper[x-placement=left] [x-circle].leave,.tippy-iOS-fix.tippy-popper[x-placement=right] [x-circle].leave{-webkit-transform:scale(0) translate3d(-50%,-33%,0);transform:scale(0) translate3d(-50%,-33%,0)}@media (max-width:500px){.tippy-popper{max-width:96%;max-width:calc(100% - 20px)}}